<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ noteTitle }}</title>
    {%include "components/pageheader.njk"%}
    {% include "components/gridScript.njk" %}
  </head>
  <body class="theme-{{meta.baseTheme}} markdown-preview-view markdown-rendered markdown-preview-section">
    {%include "components/notegrowthhistory.njk"%}
    
    {% if settings.dgEnableSearch === true %}
      {%include "components/searchContainer.njk"%}
    {% endif %}
  </body>
</html>